<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Juegos de Mesa{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/poli_logo.png') }}" alt="Logo Poli" class="logo-left">
        <img src="{{ url_for('static', filename='images/docker_logo.svg') }}" alt="Logo Docker" class="logo-right">
        <h1>Juegos de Mesa</h1>
        <p>Crea, edita y elimina juegos de mesa.</p>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
